{% extends 'base.html' %}
{% block content %}
{% load myfilter %}
{% load static %}

<div class="container w-75 p-3 bg-light">
    
    <div class="row>
        <div class="col-12">
            <div class="title">SIGNUP HERE</div>
            <div class="content">
                <div class="content">
                    <form action="{% url 'usersignuppost' %}"  method="POST">
                        {% csrf_token %}
                        {% for fm in forms %}
                        <div class="form-group">
                            {{fm.label_tag}}
                            {{fm}}
                            {% if fm.errors %}
                            {% for error in fm.errors %}
                            <span class="text-danger">{{error}}</span>
                            {% endfor %}
                            {% else%}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn btn-success col-12" type="submit">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}